.container {
  background-color: #212121;
  color: white;
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 6;
  width: 100%;
  max-width: 800px;
  min-width: 320px;
  height: auto;
  max-height: 300px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  mask: radial-gradient(1px, #fff 100%, transparent 100%) 0 0/2px 2px;
  user-select: none;
}

.container:fullscreen > div {
  font-size: 2em;
}
