.base {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.default {
  font-size: 5em;
}
.default_full {
  font-size: 8em;
}

.numbering {
  font-size: 3em;
}
.numbering_full {
  font-size: 6em;
}

.spacingContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
