.base {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.default {
  font-size: 4vw;
}

.numbering {
  font-size: 3vw;
}

.spacingContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
