.base {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.state,
.numbering {
  font-size: 4rem;
}

.name {
  font-size: 5rem;
}

.marquee {
  font-size: 7rem;
}

.spacingContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
